{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container d-flex pt-5 justify-content-center min-heigth100vh text-grey">
    <div>
        <h1>Biblioteca Academica</h1>
        <span>Seja bem vindo {{ request.user }}! O que você deseja fazer?</span>


        <div class="mt-5">
            <div class="row mb-3">
                <div>
                    <a href="#" class="link">Consultar meus Emprestimos</a>
                </div>
            </div>
            <div class="row mb-3">
                <div>
                    <a href="#" class="link">Consultar minhas Reservas</a>
                </div>
            </div>
            <div class="row mb-3">
                <div>
                    <a href="{% url 'usuario:lista_livros' %}" class="link">Pesquisar por um livro</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}