{% extends 'base.html' %}
{% load static %}


{% block conteudo %}

<div class="container w-100 d-flex justify-content-center">
    <div class="row">
        <div class="col d-flex flex-column justify-content=center align-items-center">
            <h3 class="text-center">Seja Bem vindo</h3>
            <p class="w-75 text-align-justify">
                Faça login para acessar as funcionalidades da plataforma. Consulte nossos livros,
                faça reservas, veja suas informações e muito mais.
            </p>
        </div>
        <div class="col d-flex justify-content-center">
            <div class="w-75">
                <h3 class="text-center">Login</h3>
                <form action="{% url 'usuario:login' %}" method="POST" class="d-flex flex-column ps-2 w-100 position-relative">
                    {% csrf_token %}
                    <div class="w-100 d-flex justify-content-center">
                        <input class="rounded ps-1 py-1 mt-2 w-75" type="text" placeholder="Usuario" name="usuario">
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <input class="rounded ps-1 py-1 mt-2 w-75" type="password" placeholder="Senha" name="senha">
                    </div>
                    <div class="w-100 d-flex justify-content-center">
                        <button class="btn btn-outline-info mt-2 w-50 position-absolute" type="submit">Entrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>    
</div>

{% endblock%}