{% extends 'base.html' %}
{% load static %}


{% block content %}

<div>
    <div class="container px-5 py-5 d-flex align-items-center justify-content-center" style="min-height: 100vh;">

        <div>
            <h1 class="text-center text-light">Seja bem vindo!</h1>
            <p class="text-center text-secondary"></p>

            <div class="d-flex justify-content-center w100 align-items-center">
                <a class='btn btn-outline-secondary' href="{% url 'usuario:loginPage' %}">
                    Faça Login
                </a>
                <span class="text-secondary px-2"> ou </span>
                <a class='link' href="">Cadastre-se</a>
            </div>
        </div>

    </div>
</div>

{% endblock%}