{% load static %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Biblioteca Acadêmica</title>

<!-- <meta name="description" content="Implementação de uma biblioteca academica em python e django"> -->

<!-- Meta tags de SEO -->

<!-- <meta name="keywords" content="python, django, html, css, javascript, bootstrap, biblioteca">
<meta name="author" content="Leonardo Rodrigues da Costa">
<meta name="language" content="Portuguese"> -->

<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}">
<!-- <link rel="stylesheet" href="{% static 'custom/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'custom/css/fonts.css' %}"> -->
